$color-salmon: #ff5a60;

$color-header-shadow: rgba(0,0,0,0.3);
$color-text-header: #000;
$color-link-active: #ff5a60;

$color-footer: #242f3d;
$color-footer-section-contacto:#354559;
$color-text-footer: #f3f3f3;